<h2>イベント履歴</h2>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
<% @unrated_events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.content %></td>
    <td>
    </td>
  </tr>
    <% end %>
</table>
