<h2>募集中のイベント</h2>
<% @events.each do |event| %>
<div class="box11">
    <%= event.title %>
    <%= event.content %>
      <%= link_to "応募者一覧", apply_members_event_path(event.id) if user_signed_in? %>
</div>
    <% end %>
