<div class="container">
<h2 class="text-center"><%= t('views.event.apply_member')%></h2>
<% @event.apply_for_events.each do |apply| %>
  <div class="apply_member row col-md-12">
    <div class="col-md-2">
      <%= image_tag(apply.user.profile.icon_url) %>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <h5><%= apply.user.profile.nickname %></h5>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <%= link_to apply.status_i18n, apply_for_event_toggle_status_path(apply), class:"btn btn-outline-dark", method: :patch %>
    </div>
  </div>
<% end %>
</div>
