<div class="container">
  <div class="matching_notice">
    <%= image_tag(@apply.user.profile.icon_url, class: "d-block mx-auto" ) %>
      <div class="profile">
        <h5><%=@apply.user.profile.nickname %></h5>
      </div>
  </div>
  <div class="complete_container col text-center d-flex flex-column">
    <h3 class="mt-5 mb-3"><%=@apply.user.profile.nickname %>さんとイベントが成立しました！</h3>
    <p class="mt-3 mb-3">マイページのイベント履歴から食事相手を評価してください</p>
    <%= link_to "戻る", events_path, class:"mb-5 mt-3" %>
  </div>
</div>
