<div class="container">
  <h1 class= "text-ceter">イベント作成</h1>
  <% if @genre.present? %>
    <%= render 'form', genre_id: @genre.id %>
  <% elsif @area.present? %>
    <%= render 'form', area_id: @area.id %>
  <% else %>
    <%= render 'form' %>
  <% end %>
</div>
