<div class="top-image">
  <img class="top-a" src="/assets/girls.jpg/" >
  <img class="top-a" src="/assets/food.jpg/" >
</div>
<div class="container">
  <div class="row">
    <div class="title">
      <h2>ジャンルから探す</h2>
    </div>
    <div class="card-deck">
      <% @genres.each do |genre| %>
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src= <%= genre_image(genre.id) %> >
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to genre.name, {controller: "events", action: "index", genre_id: genre.id}, {class: "genre-name"} %>
            </h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="title">
      <h2>エリアから探す</h2>
    </div>
    <div class="area-contents">
      <% @areas.each do |area| %>
        <%= link_to area.name , {controller: "events", action: "index", area_id: area.id}, {class: "border-left border-dark"}%>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="title">
      <h2>全てのイベントから探す</h2>
    </div>
    <div class="all-contents">
      <%= link_to 'イベント一覧', events_path%>
    </div>
  </div>
</div>
