<p><%= @cancel_info.event.user.profile.nickname %>様</p>
<p><%= @cancel_info.event.title %>のイベントで成立致しました<%= @cancel_info.user.profile.nickname %>よりキャンセル依頼がありました。</p>
<p>キャンセルを承認する場合はマイページより承認してください。</p>
