/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require bootstrap/dist/css/bootstrap.min
*= require_tree .
*= require_self
*/


/* .mypage{
  padding-top: 50px
} */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing : 0.2em;
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(0, 0, 0));;
}

header {
  padding: 30px 4% 10px;
   /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #fff;
}
header nav {
  margin: 0 0 0 auto;
}
header ul {
  list-style: none;
  margin: 0;
  display: flex;
}

header li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

header p {
  margin: 0;
   /* font-size: 30px; */
  font-weight: normal;
  color: #fff;
}

footer {
  padding: 30px 4% 10px;
   /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: black;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}
footer nav {
  margin: 0 0 0 auto;
}
footer ul {
  list-style: none;
  margin: 0;
  display: flex;
}

footer li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

h5 {
  margin: 0;
   /* font-size: 30px; */
  font-weight: normal;
  color: #fff;
}

.footer-title {
text-align: center;
}
