// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-name {
  color: black;
}

.top-image {
  filter: grayscale(100%);
  height: 620px;
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  position: relative;/*相対配置*/
}

.top-image h1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  font-size: 100px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }

.top-a {
  width: 720px;
  height: 100%;
}

.index-a {
  width: 100%;
  height: 100%;
}

.top-image {
  filter: grayscale(100%);
  height: 620px;
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  position: relative;/*相対配置*/
}

.top-image h1 {
  position: absolute;
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  top: 50%;
  left: 50%;
  font-size: 100px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }


li {
  display: inline-block;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.col-form-label {
  font-size: 15px;
}

.profile {
  text-align: center;
  margin-top: 20px;
}

.profile p {
  padding: 5px;
  font-size: 15px;
}

.list-group-item {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.col-md-2.col-md-4 {
  height: 304px;
}

.middle-contents-item {
  margin: 20px 0px;

  &.content {
    height: 50px;
  }
}


.search {
  margin: 20px;
}

.container {
  margin-top: 100px;
}

.form_group {
  background-color: rgba(250,250,250,1);
	background-image:
	 radial-gradient(closest-side,
		 transparent 99.9%, rgba(236,236,236,0.8) 100%),
	 radial-gradient(closest-side,
		 transparent 99.9%, rgba(236,236,236,0.8) 100%);
	background-position: 0 0, 30px 30px;
	background-size: 60px 60px;
}

.new_post {
  float: right;
  width: 570px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-gradation {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #FF006E, #FFD500);
  transition: .5s;
  background-size: 200%;
}

.btn-gradation:hover {
  background-position: right center;
}

.top-contents-item:last-child {
  float: right;
}

.title {
  margin-bottom: 20px;
}

.border-left {
  padding-left: 10px;
}
