@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

dl, ol, ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

* {
  box-sizing: border-box;
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

.container {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing : 0.2em;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  padding: 30px 4% 10px;
   /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  height: 100px;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  text-decoration: none;
  color: #fff;
}

header p {
  margin: 0;
  font-weight: normal;
  color: #fff;
}

footer {
  padding: 30px 4% 10px;
  margin-top: auto;
  width: 100%;
  background-color: black;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}
footer nav {
  margin: 0 0 0 auto;
}
footer ul {
  list-style: none;
  margin: 0;
  display: flex;
}

footer li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

footer p {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

.footer-list {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

.box, .list-group-item, .wanted-group-item {
  background-color: #fff;	/* 背景色 */
	border: 1px solid #ccc; /* 線の太さ・種類・色 */
	box-shadow:1px 1px 6px 0px #ccc;
	-moz-box-shadow:1px 1px 6px 0px #ccc;
	-webkit-box-shadow:1px 1px 6px 0px #ccc;
	-o-box-shadow:1px 1px 6px 0px #ccc;
	margin: 20px 5px; /* 外側の余白 上下・左右 */
	padding: 30px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
	position: relative;
	z-index: 0;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.genre-name {
  color: black;
}

.top-image h1 {
  position: absolute;
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  top: 50%;
  left: 50%;
  font-size: 100px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.top-a {
  height: 100%;
}

.index-a {
  width: 100%;
  height: 100%;
}

.top-image {
  filter: grayscale(100%);
  height: 700px;
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  position: relative;/*相対配置*/
}

li {
  display: inline-block;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.profile {
  text-align: center;
  margin-top: 20px;
}

.profile p {
  padding: 5px;
  font-size: 15px;
}

.col-md-2.col-md-4 {
  height: 304px;
}

.middle-contents-item {
  margin: 20px 0px;

  &.content {
    height: 50px;
  }
}

.search {
  margin: 20px;
}

.container {
  margin-top: 100px;
}

.new_post {
  float: right;
  width: 570px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-gradation {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #FF006E, #FFD500);
  transition: .5s;
  background-size: 200%;
}

.btn-gradation:hover {
  background-position: right center;
}

.top-contents-item:last-child {
  float: right;
}

.title {
  margin-bottom: 20px;
}

.border-left {
  padding-left: 10px;
}

.table td, .table th {
  vertical-align: middle;
}

.show-button {
  padding: 50px;
}

.new-event {
  text-decoration: none;
  background-image: linear-gradient(#fff,#f5f8fa);
  border: 1px solid #e6ecf0;
  border-radius: 4px;
  color: #393e42;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 14px;
  position: relative;
 }

.new-event i {
  color: #1da1f3;
}

.new-event:hover {
  background-color: #e6ecf0;
  background-image: linear-gradient(#fff,#e6ecf0);
  border-color: #e6ecf0;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 0;
}

.box-margin {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right:50px;
}

.form-group　row:last-child {
  margin-top: 50px;
  margin-bottom: 50px;
}

.outline {
  height: 100px;
}

.row {
   margin-top: 30px;
   margin-bottom: 30px;
}

.profile_figure {
  width:150px;
  }
/*名前*/
.profile_name {
  padding: 15px 20px;
  font-weight:bold;
  font-size:16px;
}

.profile {
  margin-top: 20px;
  margin-bottom: 30px;
}

.row-eq-height {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  min-height: 100vh ;
  padding-bottom: 120px;
  position: relative;
}

.message-contents {
  height: 600px;
  overflow: scroll;
  padding: 50px 50px 10px 50px;
}

.message-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.message-person {
  color: white;
  background-color: #555555;
}

.kaiwa {
  margin-bottom: 25px;
}
/* 左画像 */
.kaiwa-img-left {
  margin: 0;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: -70px;
}
/* 右画像 */
.kaiwa-img-right {
  margin: 0;
  float: right;
  width: 60px;
  height: 60px;
  margin-left: -70px;
}

.kaiwa figure img {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin: 0;
}
/* 画像の下のテキスト */
.kaiwa-img-description {
  padding: 5px 0 0;
  font-size: 10px;
  text-align: center;
  position: relative;
}
/* 左からの吹き出しテキスト */
.kaiwa-text-right {
  position: relative;
  margin-left: 80px;
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  float: left;
}
/* 右からの吹き出しテキスト */
.kaiwa-row-left {
  display: flex;
  justify-content: flex-end;
}

.kaiwa-row-right {
  display: flex;
  justify-content: flex-start;
}

.read:first-child {
  font-size: 10px;
}

.time:last-child {
  font-size: 10px;
}

.kaiwa-text-left {
  position: relative;
  margin-right: 80px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9cd6e7;
}

p.kaiwa-text {
  margin: 0 0 20px;
}

p.kaiwa-text:last-child {
  margin-bottom: 0;
}
/* 左の三角形を作る */
.kaiwa-text-right:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  left: -20px;
}

.kaiwa-text-right:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #eee;
  top: 15px;
  left: -19px;
}
/* 右の三角形を作る */
.kaiwa-text-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  right: -20px;
}

.kaiwa-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #9cd6e7;
  top: 15px;
  right: -19px;
}

/* 回り込み解除 */
.kaiwa:after,.kaiwa:before {
  clear: both;
  content: "";
  display: block;
}

.message_time {
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.menu-list-item {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.menu-list-item a {
  color: #444444;
  text-decoration: none;
}

.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}
